@page "/comercio"
@using AnunciadorV1.Models
@using AnunciadorV1.Services
@inject FirestoreService FirestoreService

<PageTitle>Indústria e Comércio</PageTitle>

<h1>Indústria e Comércio</h1>

@if (Anunciantes is null)
{
    <p>Carregando...</p>
}
else{

    <div class="container">

        @foreach (var anunciante in Anunciantes)
        {
            <div class="card">

                <img src="@anunciante.EnderecoFoto" class="card-img-top" alt="Foto" style="border-top-left-radius: 10px; border-top-right-radius: 10px; background: none; height: 285px;">

                <div class="card-body">
                    <h5 class="card-title">@anunciante.Nome</h5>
                    <p class="card-text">@anunciante.Titulo</p>
                    <p><strong>Localização:</strong>@anunciante.Endereco</p>
                    <div style="display: flex; gap: 10px;">
                        @if (!String.IsNullOrWhiteSpace(anunciante.Instagram))
                        {
                            <a style="color: white;background: #04bf04;padding: 0.5rem;font-size: 12px;border-radius: 8px; width: 50%; text-align: center" href="@($"https://wa.me/{anunciante.Numero}")" target="_blank">
                                <MudIcon Style="color: white !important; font-size: 20px;" Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Dark" /> WhastApp
                            </a>

                            <a style="color: white;background: #cb144e;padding: 0.5rem;font-size: 12px;border-radius: 8px; width: 50%; text-align: center" href="@($"https://www.instagram.com/{anunciante.Instagram}")" target="_blank">
                                <MudIcon Style="color: white !important; font-size: 20px;" Icon="@Icons.Custom.Brands.Instagram" Color="Color.Dark" /><strong> Instagram</strong>
                            </a>
                        }
                        else
                        {
                            <a style="color: white;background: #04bf04;padding: 0.5rem;font-size: 12px;border-radius: 8px; width: 100%; text-align: center" href="@($"https://wa.me/{anunciante.Numero}")" target="_blank">
                                <MudIcon Style="color: white !important; font-size: 20px;" Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Dark" /> WhastApp
                            </a>
                        }
                    </div>
                </div>

            </div>

        }

    </div>

}

@code{
    private List<Anunciante>? Anunciantes;

    protected override async Task OnInitializedAsync()
    {
        Anunciantes = await FirestoreService.GetAnunciantes();

        Anunciantes = Anunciantes.Where(x => x.Categoria == 2).ToList();
    }

}

<style>
    
</style>