@page "/"
@using AnunciadorV1.Models
@using AnunciadorV1.Services
@inject FirestoreService FirestoreService

<PageTitle>Home</PageTitle>

@if (Anunciantes is null)
{
    <p>Carregando...</p>
}
else
{
    <MudContainer Class="d-flex align-center barra-pesquisa">
        <MudTextField @bind-Value="@searchText" Placeholder="Buscar..." Style="padding: 7px 0;"
        Adornment="Adornment.Start"
        Class="mud-elevation-2 mud-rounded" />

        <MudIconButton Icon="@Icons.Material.Filled.Search" Color="Color.Primary" Style="width: 45px; height: 45px;"
        Variant="Variant.Filled" OnClick="Pesquisar" Class="ml-2">
        </MudIconButton>
    </MudContainer>

    <div class="container">
        @if (Anunciantes.Count == 0){
            <p>Nenhum encontrado</p>
        }
        @foreach (var anunciante in Anunciantes)
        {
            <div class="card">
              @*   <MudCarousel Class="mud-width-full" Style="height:250px;" AutoCycle="false" ShowBullets="false" EnableSwipeGesture="true" TData="object">
                    <MudCarouselItem Transition="@Transition.Fade"> *@
                        <img src="@anunciante.EnderecoFoto" class="card-img-top" alt="Foto" style="border-top-left-radius: 10px; border-top-right-radius: 10px; background: none; height: 285px;">
                   @*  </MudCarouselItem>

                    <MudCarouselItem Transition="@Transition.Fade">
                        <img src="https://github.com/EstevaoBresolin/Anunciador/blob/gh-pages/wwwroot/Imagens/rosto2.png?raw=true" class="card-img-top" alt="Foto do Dentista" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    </MudCarouselItem>

                    <MudCarouselItem Transition="@Transition.Fade">
                        <img src="https://github.com/EstevaoBresolin/Anunciador/blob/gh-pages/wwwroot/Imagens/rosto.png?raw=true" class="card-img-top" alt="Foto do Dentista" style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
                    </MudCarouselItem>

                </MudCarousel> *@

                <div class="card-body">
                    <h5 class="card-title">@anunciante.Nome</h5>
                    <p class="card-text">@anunciante.Titulo</p>
                    <p> <strong>Localização:</strong> <a href="https://www.google.com/maps/search/@Uri.EscapeDataString(anunciante.Endereco)" target="_blank"> @anunciante.Endereco </a> </p>
                    <div style="display: flex; gap: 10px;">
                        <a style="color: white;background: #04bf04;padding: 0.5rem;font-size: 12px;border-radius: 8px; width: 50%; text-align: center" href="@($"https://wa.me/{anunciante.Numero}")" target="_blank">
                            <MudIcon Style="color: white !important; font-size: 20px;" Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Dark" /> WhastApp
                        </a>
                        <a style="color: white;background: #cb144e;padding: 0.5rem;font-size: 12px;border-radius: 8px; width: 50%; text-align: center" href="@($"https://www.instagram.com/{anunciante.Instagram}")" target="_blank">
                            <MudIcon Style="color: white !important; font-size: 20px;" Icon="@Icons.Custom.Brands.Instagram" Color="Color.Dark" /><strong> Instagram</strong>
                        </a>
                    </div>
                </div>

            </div>

        }

    </div>

}

@code {
    private string searchText = "";

    private List<Anunciante>? Anunciantes;
    private List<Anunciante>? AnunciantesOriginal;

    protected override async Task OnInitializedAsync()
    {
        AnunciantesOriginal = await FirestoreService.GetAnunciantes();

        Anunciantes = AnunciantesOriginal;
    }

    private void Pesquisar()
    {
        if (string.IsNullOrWhiteSpace(searchText))
        {
            Anunciantes = AnunciantesOriginal;
            return;
        }

        Anunciantes = AnunciantesOriginal?
            .Where(a => a.Nome.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                        a.Descricao.Contains(searchText, StringComparison.OrdinalIgnoreCase) ||
                        a.Titulo.Contains(searchText, StringComparison.OrdinalIgnoreCase))
            .ToList();
    }

}

<style>
    .barra-pesquisa{
        @@media(min-width: 700px) {
            margin-top: 3rem;
        }
    }
</style>